.container {
background-color: aqua;
    width: 350px;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 10px;
    display: flex;
    padding: 15px;
}

.img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-right: 10px;
   align-self: flex-end;
}

.message {
    width: 80%;
    background-color: darkorange;
}
