.container {
    display: flex;
    width: 250px;
    border: 1px solid red;
justify-content: space-between;
padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f9cd0b;
    transform: translate(-230px) ;
    transition-duration: 2s;

}

.container a {
    text-decoration: none;
}

.block {
    width: 24px;
    height: 24px;
    background-color: #004444;

}
.container:hover {
    transition-duration: 1s;
    transform: translate(0);
}


